body {
  background-image: url("https://raw.githubusercontent.com/daniellesilveira-ds/agendamento/master/canva-photo-editor%20(1).png");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}